@model TaskMaster.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<style>
    body {
        text-align: center;
    }
    .form-control {
        width: 100%;        
    }
    label {
        margin-left: 110px;        
    }
</style>

<h3>Witaj użytkowniku TaskMastera!</h3>
<h3>Rejestracja z @ViewBag.LoginProvider przebiega pomyślnie.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

   
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Kliknij przycisk "Rejestracja" w celu ukończenia rejestracji.
    </p>
    <div class="form-group">
        <div class="col-md-1 col-md-offset-5">
        @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
        </div>
        <div class="col-md-2 col-md-offset-5">

            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 col-md-offset-5">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
