@model TaskMaster.Web.Models.UserAccount

@{
    Layout = null;
    
    ViewBag.Title = "sam";
}




<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TaskMaster</title>   
    <link rel="stylesheet" href="../../Content/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../Content/style.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">   
    <script type="text/javascript" src="../../Content/dictionary.json"> </script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>    
    @*<script>
        $.getJSON('./../../Content/dictionary.json', function(data){
            console.log(data);            
        });
    </script>*@  

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="../../images/TMLogo3.png"/>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Logowanie", "Home")</li>
                <li>@ViewBag.Message </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="row loggingSection">
        <div class="col-md-6 col-xs-12">
            <div class="col-md-6 col-md-offset-4">
                <h2>Zapanuj nad swoim czasem!</h2>
                <p>Dzięki aplikacji TaskMaster możesz mierzyć czas wykonywania twoich zadań. </p>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            
            
                <div class="form-horizontal">
                    @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <button class="googleButton btn btn-success" name="provider" value="Google" id="Google"><img src="../../images/google.png"/></button>
                            <button class="facebookButton btn btn-info" name="provider" value="Facebook" id="Facebook"><img src="../../images/facebook.png"/></button>
                        </div>
                    </div>
                    }
                    
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})


                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.EditorFor(model => model.Email, new {htmlAttributes = new {placeholder = "Email", @class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            @Html.EditorFor(model => model.Password, new {htmlAttributes = new {placeholder = "Hasło", @class = "form-control"}})
                            @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                        </div>
                    </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <input type="submit" value="Zaloguj" class="btn btn-default"/>
                            </div>
                        </div>
                    }
                </div>

            
        </div>
    </div>

<div class="howItWorksSection">
    <div class="row ">
        <div class="col-md-6 col-md-offset-3">
            <h3>Jak działa aplikacja?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id tristique odio. Duis vitae odio nisi. Proin bibendum convallis gravida. Suspendisse non nulla convallis, tincidunt velit aliquet, semper elit.</p>
        </div>
        <div class="col-md-4">
            <p>2. Fusce nec enim eu magna varius vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        </div>
        <div class="col-md-4">
            <p>3. Sed venenatis, quam vel hendrerit maximus, dui urna tempor leo, ullamcorper hendrerit diam magna ac ipsum.</p>
        </div>
    </div>
</div>



<script>
    $(".googleButton").click(function() {
        $(this).css('border', "solid 2px red");
    });
</script>

</body>
</html>
                
