@using Microsoft.Owin.Security
@using TaskMaster.Web.Models
@using TaskMaster.Web.Resources
@model TaskMaster.Web.Models.UserAccount



@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TaskMaster</title>
    <link rel="stylesheet" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../../Content/landingPageStyle.css" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Anton|Kalam|Righteous&amp;subset=latin-ext" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../../images/TMLogo3.png" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li id="logIn"><a href="#">@LandingPageText.signIn</a></li>
                    <li id="register"><a href="#">@LandingPageText.signUp</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="row loggingSection">
        <div class="col-md-7 col-xs-12">
            <div class="col-md-6 col-md-offset-4">
                <h2>@LandingPageText.leftMainText</h2>
                <p>@LandingPageText.leftAdditionalText</p>
            </div>
        </div>
    <div class="col-md-5 col-xs-12">
        @using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-6 col-md-offset-1">
                    <button class="googleButton btn btn-success" name="provider" value="Google" id="Google"><img src="../../images/google.png"/></button>                    
                </div>
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-horizontal">
  
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-1">
                        @Html.EditorFor(model => model.Email, new {htmlAttributes = new {placeholder = "Email",@class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-1">
                        @Html.EditorFor(model => model.Password, new {htmlAttributes = new { placeholder = "Hasło", @class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-1">
                        <button id="signInButton" type="submit" class="btn btn-primary">@LandingPageText.signInButton</button>
                    </div>
                </div>
            </div>

        }
        </div>
    </div>

    
    <div class="howItWorksSection">
        <div class="row ">
            <div class="col-md-6 col-md-offset-3">
                <h3>@LandingPageText.HowItWorksTitle</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h1>1</h1>
                <p>@LandingPageText.HowItWorks1</p>
            </div>
            <div class="col-md-4">
                <h1>2</h1>
                <p>@LandingPageText.HowItWorks2</p>
            </div>
            <div class="col-md-4">
                <h1 class="toReplace">3</h1>
                <p>@LandingPageText.HowItWorks3</p>  
                <p class="download">@LandingPageText.HowItWorksDownload</p>              
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#register").click(function() {
                $("#signInButton").replaceWith(
                    "<button id=\"signInButton\" type=\"submit\" class=\"btn btn-danger\">@LandingPageText.signUpButton</button>");
            });
        });

        $(document).ready(function() {
            $("#logIn").click(function() {
                $("#signInButton").replaceWith(
                    "<button id=\"signInButton\" type=\"submit\" class=\"btn btn-primary\">@LandingPageText.signInButton</button>");
            });
        });
    </script>
<script>
    $(document).ready(function () {
        $(".download").click(function () {
            $(".toReplace").replaceWith(
                "<img src=\"../../images/QR.png\">");
        });
    });
</script>

    
</body>
</html>