@model Backend.Models.ACTIVITY

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACTIVITY</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.START)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.END)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
