@using TaskMaster.BLL.WebModels;
@using TaskMaster.BLL.WebServices;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //WebMainService alfa = new WebMainService();
    
 
}



<div class="col-md-3 quickFixMargin ">
    <div class="lastActivities">
        <h4>Ostatni miesiąc</h4>
        @foreach (var p in @ViewBag.mod)
        {
            <div class="singleActivity">
                <div class="singleActivityContent"><img src="../../images/sport.png"/>
                </div>
                <div class="singleActivityContent">
                    <p>@p[0]</p>
                </div>
                <div class="singleActivityContent">
                    <p>@p[1]</p>
                </div>
                <div class="clear"></div>
            </div>
        }
  
    </div>

    <div class="lastActivities">
        <h4>Najdłużej wykonywane</h4>
        
           @if (@ViewBag.tab == null)
           {
           }
           else
           {
               
          
            for(int i=0; i<3;i++)//foreach (var p in @ViewBag.tab)
            {
                var p = ViewBag.tab[i];
                <div class="singleActivity">
                    <div class="singleActivityContent"><img src="../../images/programming.png" /></div>
                    <div class="singleActivityContent"><p>@p[1]</p> </div>
                    <div class="singleActivityContent"><p>@p[0]</p></div>
                    <div class="clear"></div>
                </div>
            }
           }

              
     
    </div>
    <div>
        <button id="removeButtonStyle" type="button" class="btn btn-info">@Html.ActionLink("Zobacz wszystkie statystyki", "Home", "Statistics")</button>

    </div>
</div>
<div class="col-md-8 quickFixMargin ">
    <h3>Ostatni miesiąc</h3>
    <div id="putItHere"></div>

</div>


<script>
    var whichColor = 0;
    var colors = ['progress-bar-success', 'progress-bar-info', 'progress-bar-warning', 'progress-bar-danger'];
    function getColor() {        
        if (whichColor > 3){
            whichColor = 0;
        }
        return colors[whichColor++];
    }

    
    var array = @Html.Raw(Json.Encode(@ViewBag.alt));
    for (var i = 0; i < array.length; i++) {
        getColor();
        var divForP = document.createElement('div');
        var p = document.createElement('p');
        p.innerHTML = array[i][1];
        divForP.appendChild(p);
        document.getElementById('putItHere').appendChild(divForP);

        var divForBar = document.createElement('div');
        divForBar.className = "progress";
        var bar = document.createElement('div');
        bar.className = "progress-bar progress-bar-striped " + colors[i];
        bar.setAttribute('role', 'progressbar');
        bar.setAttribute('aria-valuenow', array[i][2]);
        bar.setAttribute('aria-valuemax', '0');
        bar.style.width = array[i][2] + '%';

        var spann = document.createElement('span');
        spann.className = 'sr-only';
        bar.appendChild(spann);
        divForBar.appendChild(bar);

        document.getElementById('putItHere').appendChild(divForBar);
    }



</script>