
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<div class="quickFixMargin">
  
    <div class="form-group" id="taskName">
        <label class="control-label">Nazwa tasku</label>
        
    </div>

    <div class="edit">
        <div class="progress" id="bars">

        </div>
    </div>
    <div class="row">
        <h3>Edycja czasów</h3>
        <div class="col-md-2">

            <div id="editTimes" class="form-group">
            </div>
        </div>
        <div class="col-md-2">
            <div id="textBoxesStart" class="form-group">

            </div>
        </div>
        <div class="col-md-2">
            <div id="textBoxesStop" class="form-group">

            </div>
        </div>
        <div class="col-md-2">
            <div id="accept" class="form-group">

            </div>
        </div>
    </div>
</div>


<script>

    function getName() {
        var input = document.createElement('input');
        input.className = "form-control";
        input.id = "focusedInput";
        var array = @Html.Raw(Json.Encode(@ViewBag.mod));
        input.placeholder = array[0][0];                    // WSTAWIĆ NAZWE Z BAZY
        document.getElementById('taskName').appendChild(input);
    }

    function buttonClick() {
        var target = event.target || event.srcElement;
        var id = target.id;
        var cut = id.substr(10);

        var inp = document.getElementById('editTextBoxStart' + cut);
        $(inp).css("visibility", "visible");

        inp = document.getElementById('editTextBoxStop' + cut);
        $(inp).css("visibility", "visible");

        var button = document.getElementById('acceptButton' + cut);
        $(button).css("visibility", "visible");

    }

    function acceptChange() {
        var target = event.target || event.srcElement;
        var id = target.id;
        document.getElementById(id).className = "btn btn-success";
        document.getElementById(id).innerHTML = "zapisano";
    }

    getName();


    var array = @Html.Raw(Json.Encode(@ViewBag.mod));

    var howManyTimes = array.length-1; // this number will be taken from database
    var percents = ["35%", "65%"];                           // WSTAWIĆ DANE Z BAZY
    var times = [];
    for (var i = 1; i <= howManyTimes; i++) {
        times.push(array[i][3]);
    }

    for (var i = 0; i < howManyTimes; i++) {
        var progressBar = document.createElement('div');

        if(i % 2 == 0)
            progressBar.className = "progress-bar progress-bar-warning";
        else
            progressBar.className = "progress-bar progress-bar-info";

        //progressBar.styleSheet = "width:" + percents[i];
        $(progressBar).css("width", percents[i]);

        var p = document.createElement('p');
        p.innerHTML = times[i];
        progressBar.appendChild(p);

        document.getElementById("bars").appendChild(progressBar);


    }

    for (var i = 0; i <= howManyTimes; i++) {
        var button = document.createElement("button");

        if (i % 2 == 0)
            button.className = "btn btn-warning";
        else
            button.className = "btn btn-info";

        if (i == howManyTimes){
            button.innerHTML = "dodaj nowy odcinek czasu";
            button.className = "btn btn-danger";
        }
        else
            button.innerHTML = "edytuj odcinek " + (i+1);

        $(button).css("margin", "10px 0px ");
        button.id = "editButton" + i;
        button.onclick = buttonClick;
        document.getElementById("editTimes").appendChild(button);
    }


    for (var i = 0; i < howManyTimes; i++) {
        var inp = document.createElement("input");
        inp.className = "form-control";
        inp.type = "text";
        var array = @Html.Raw(Json.Encode(@ViewBag.mod));
        inp.placeholder = array[i+1][1];
        inp.id = "editTextBoxStart" + i;
        $(inp).css("margin", "10px 0px 20px 0px ");
        $(inp).css("width", "100%");
        $(inp).css("visibility", "hidden");
        document.getElementById("textBoxesStart").appendChild(inp);

        var inpStop = document.createElement('input');
        inpStop.className = "form-control";
        inpStop.type = "text";
        var array = @Html.Raw(Json.Encode(@ViewBag.mod));
        inpStop.placeholder = array[i+1][2];
        inpStop.id = "editTextBoxStop" + i;
        $(inpStop).css("margin", "10px 0px 20px 0px ");
        $(inpStop).css("width", "100%");
        $(inpStop).css("visibility", "hidden");
        document.getElementById("textBoxesStop").appendChild(inpStop);

        var button = document.createElement('button');
        button.className = "btn btn-danger";
        button.innerHTML = "akceptuj";
        button.id = "acceptButton" + i;
        $(button).css("visibility", "hidden");
        $(button).css("margin", "10px 0px ");

        button.onclick = acceptChange;
        document.getElementById('accept').appendChild(button);

    }

    var counter = howManyTimes;
    $(document).ready(function () {
        $("#editButton" + counter).click(function () {
            var newTextBox = document.createElement('input');
            newTextBox.className = "form-control";
            newTextBox.type = "text";
            newTextBox.placeholder = "wpisz nowy czas startu";
            newTextBox.id = "editTextBoxStart" + counter;
            $(newTextBox).css("margin", "10px 0px 20px 0px ");
            $(newTextBox).css("width", "100%");
            document.getElementById("textBoxesStart").appendChild(newTextBox);

            var newTextBoxStop = document.createElement('input');
            newTextBoxStop.className = "form-control";
            newTextBoxStop.type = "text";
            newTextBoxStop.placeholder = "wpisz nowy czas stopu";
            newTextBoxStop.id = "editTextBoxStart" + counter;
            $(newTextBoxStop).css("margin", "10px 0px 20px 0px ");
            $(newTextBoxStop).css("width", "100%");
            document.getElementById("textBoxesStop").appendChild(newTextBoxStop);



            var button = document.createElement("button");
            button.innerHTML = "wpisz czas ";
            button.className = "btn btn-success";
            button.id = "editButton" + counter;
            $(button).css("margin", "10px 0px ");
            $(button).insertBefore($("#editButton" + howManyTimes));

            var buttonAccept = document.createElement('button');
            buttonAccept.innerHTML = "akceptuj";
            buttonAccept.className = "btn btn-danger";
            $(buttonAccept).css("margin", "10px 0px ");
            $(buttonAccept).css("visibility", "visible");
            buttonAccept.id = "acceptButton" + counter;
            buttonAccept.onclick = acceptChange;
            document.getElementById("accept").appendChild(buttonAccept);

            counter++;
        });
    });


</script>
