@using TaskMaster.BLL.WebServices

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebMainService alfa = new WebMainService();
    

}

<!DOCTYPE html>

<html>
<head>
    <title>Historia</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>  
</head>
<body>
<div class="history quickFixMargin">
    <div class="col-md-8 col-md-offset-2">
        <div class="lastActivities">
            <table>
                <tr>
                    <th></th>
                    <th>Czynność</th> 
                    <th>data</th>
                    <th>czas trwania</th>
                    <th>czas pracy</th>
                    <th>czas przerwy</th>
                </tr>     

                @foreach (var p in @ViewBag.mod)//alfa.History("dlanorberta@gmail.com")
                {
                    <tr class="activityDetails">                    
                        <td ></td>
                        <td  id="task_@p[6]" onclick="getSpecifiedTask()">@p[0]</td>
                        <td>@p[1]</td>
                        <td>@p[2]</td>
                        <td>@p[3]</td>
                        <td>@p[4]</td>                        
                    </tr>
                }           
            </table>            
        </div>
    </div>  

</div>

<script>
    function getSpecifiedTask() {
        var target = event.target || event.srcElement;
        var id = target.id;
        var cut = id.substr(5);
        
        var dataToSend = {
            id: cut
        };

        $.ajax({
            url: "/History/Home",
            type: "POST",
            dataType: "json",
            data: dataToSend
        });
        return true;        
    }

</script>

</body>

</html>